doctype html
html
  head
  body
    form(action='mailer.html' method='POST')
      div
        input#Mr(type='radio' name='prefix' value='Mr' checked='')
        label(for='Mr') Mr 
        input#Mrs(type='radio' name='prefix' value='Mrs')
        label(for='Mrs') Mrs 
        input#Ms(type='radio' name='prefix' value='Ms')
        label(for='Ms') Ms 
        input#Dr(type='radio' name='prefix' value='Dr')
        label(for='Dr') Dr 
      div
        label(for='first') First Name:
        input#first(type='text' name='first')
        label(for='last') Last Name:
        input#last(type='text' name='last')
      div
        label(for='street') Street:
        input#street(type='text' name='street')
        label(for='city') City
        input#city(type='text' name='city')
      div
        label(for='state') State
        select#state(name='state')
          option(value='NJ') NJ
          option(value='NY') NY
          option(value='PA') PA
          option(value='CT') CT
        label(for='zip') Zip:
        input#zip(type='text' name='zip' \='')
      div
        label(for='phone') Phone:
        input#phone(type='text' name='phone')
      div
        label(for='email') Email:
        input#email(type='text' name='email')
      div
        label How may we contact you?
        input#phoneContact(type='checkbox' name='phoneContact')
        label(for='phoneContact') Phone
        input#mailContact(type='checkbox' name='mailContact')
        label(for='mailContact') Mail
        input#emailContact(type='checkbox' name='emailContact')
        label(for='emailContact') Email
        input#anyContact(type='checkbox' name='anyContact' checked='')
        label(for='anyContact') Any
      button(type='submit')  Send me spam forever! 
    p
      a(href='contacts')  Full Contact List.
